@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-primary: #c8335a;
  --color-secondary: #101828;
  --font-display: "Nunito";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='1' fill='%23your-hex-color' fill-opacity='0.1'/%3E%3C/svg%3E");
  color: var(--foreground);
  font-family: Nunito;
}

.mesh-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='0.5' fill='%23your-hex-color' fill-opacity='0.15'/%3E%3C/svg%3E");
  z-index: -1;
}

.mesh-right {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='0.8' fill='%23your-hex-color' fill-opacity='0.12'/%3E%3C/svg%3E");
  z-index: -1;
}
